authtoken: {{ ngrok_authtoken }}
log_format: json
log_level: debug
log: {{ ngrok_dir }}/log/ngrok.log
tunnels:
{% for site in sites %}
  {{ site }}-tls:
    hostname: {{ site }}.{{ ngrok_dn_suffix }}
    proto: tls
    addr: {{ ngrok_tls_port }}
  {{ site }}-http:
    hostname: {{ site }}.{{ ngrok_dn_suffix }}
    proto: http
    addr: {{ ngrok_http_port }}
{% endfor %}
