authtoken: {{ ngrok_authtoken }}
log_format: json
log_level: debug
log: {{ ngrok_dir }}/log/ngrok.log
tunnels:
{% for site in sites %}
  {{ site }}-{{ ngrok_tunnel_proto }}:
    hostname: {{ site }}.{{ ngrok_dn_suffix }}
    proto: {{ ngrok_tunnel_proto }}
    addr: {{ ngrok_tls_port }}
{% endfor %}
