authtoken: {{ ngrok_authtoken }}
log_format: json
log_level: debug
log: /vagrant/ngrok.log
tunnels:
{% for site in sites %}
  {{ site }}-tls:
    hostname: {{ site }}.{{ ngrok_dn_suffix }}
    proto: tls
    addr: {% if ngrok_app == 'apache2' %}443{% elif ngrok_app == 'tomcat' %}8443{% endif %}
  {{ site }}-http:
    hostname: {{ site }}.{{ ngrok_dn_suffix }}
    proto: http
    addr: {% if ngrok_app == 'apache2' %}80{% elif ngrok_app == 'tomcat' %}8080{% endif %}
{% endfor %}
